.App {
  text-align: left;
  background-color: black;
  min-height: 120vh;
  font-family: "Courier";
  font-size: 20px;
}

.terminal{
  display: flex;
  align-items: stretch;
}

input[type=text]{
  color: white; 
  white-space: nowrap;
  overflow: hidden;
  font-family: "Courier";
  font-size: 20px;
  border: none;
  background: transparent;
  outline: none;
}

.terminalHome{
  color: green; 
  white-space: nowrap;
  overflow: hidden;
}

.terminalText{
  color: white; 
  white-space: nowrap;
  overflow: hidden;
  animation: type 1s steps(60, end); 
}

@keyframes type{ 
  from { width: 0; } 
} 

.blinkCmd {
  color: white;
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
